.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e5e5e5;
}
.container .containerCadastro {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container .containerCadastro .containerInicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.container .containerCadastro .containerInicio .containerLogo {
  width: 100px;
  height: 100px;
  margin-top: 4.5rem;
  margin-bottom: 0.5rem;
}
.container .containerCadastro .containerInicio .containerLogo img {
  width: 100%;
  height: 100%;
}
.container .containerCadastro .containerInicio h1 {
  color: #463f3a;
  font-size: 2.3rem;
}
.container .containerCadastro .form {
  width: 100%;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.container .containerCadastro .form input {
  width: 100%;
  height: 50px;
  margin-bottom: 1rem;
  padding-left: 8px;
  border-radius: 5px;
  font-size: 1.1rem;
  border: none;
  outline: none;
}
.container .containerCadastro .form .btnCadastro {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #463f3a;
  color: #f1f1f1;
}
.container .containerCadastro .form .textoCadastro {
  font-size: 1.2rem;
  align-items: center;
  margin-top: 10px;
}
.container .containerCadastro .form .textoCadastro a {
  color: #463f3a;
  margin-left: 4px;
}
@media (max-width: 355px) {
  .container .containerCadastro .containerInicio .containerLogo {
    width: 75px;
    height: 75px;
    margin-top: 0;
  }
  .container .containerCadastro .containerInicio h1 {
    font-size: 2.1rem;
  }
}
