.containerCard {
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 7px 4px 36px 10px rgba(0, 0, 0, 0.19);
}
.containerCard .containerImagem {
  /* position: relative; */
  width: 430px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.containerCard .containerImagem img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.containerCard .containerDetalhesProjeto {
  margin: 20px 20px;
}
.containerCard .containerDetalhesProjeto h2 {
  color: #444444;
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}
.containerCard .containerDetalhesProjeto p {
  color: #6e6e6e;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.containerCard .containerButton {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.containerCard .containerButton button {
  height: 40px;
  width: 35%;
  background-color: #463f3a;
  color: #f2f2f2;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
