.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  width: 100%;
  background-color: #27292a;
  padding: 0 25px;
}
.header img {
  height: 50px;
  width: 65px;
}

.header .containerInicio {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header .btnHeader {
  display: flex;
  align-items: center;
}

#menuIcone svg {
  color: #9a9a9a;
  margin: 0 4px;
  height: 20px;
  width: 28px;
}

.header .btnHeader a {
  margin-right: 25px;
  cursor: pointer;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 4px solid transparent;
  color: #d9d9d9;
  text-decoration: none;
}

.header .btnHeader a:hover {
  border-bottom: 4px solid #d9d9d9;
  transition: 0.9s;
}
