.containerInicioSobre {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../assets/backgroundImageSobre1.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #bebebe;
  padding-top: 210px;
  padding-bottom: 100px;
}
.containerInicioSobre .containerTextos {
  padding: 70px 20px;
  width: 55%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}
.containerInicioSobre .containerTextos h1 {
  font-size: 4.5rem;
}
.containerInicioSobre .containerTextos p {
  color: #999999;
  font-size: 1.4rem;
}
.containerInicioSobre .containerSeta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}
.containerInicioSobre .containerSeta img {
  width: 105px;
}
.containerInfo {
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 130px 20px;
}
.containerInfo .containerBorderImagem {
  width: 400px;
  height: 400px;
  background-color: rgb(156, 156, 156);

  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
}
.containerInfo .containerBorderImagem .containerImagemInformacoes {
  width: 400px;
  height: 400px;
  margin-top: -30px;
  margin-right: -30px;
}
.containerInfo .containerBorderImagem .containerImagemInformacoes img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.containerInfo .containerInformacoes {
  background-color: #fcfafa;

  margin-top: -30px;
  border-radius: 10px;
  width: 70%;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerInfo .containerInformacoes h2 {
  font-size: 2.5rem;
  color: #464646;
  margin-bottom: 1rem;
}
.containerInfo .containerInformacoes p {
  color: #6e6e6e;
  text-align: center;
}
