.footer {
  height: 80px;
  width: 100%;
  background-color: #27292a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 1rem;
  font-weight: 600;
  color: #d9d9d9;
}

.footer p span {
  color: #e0e0e0;
  font-weight: bold;
}
